<!DOCTYPE html>
<html lang="en">
<head>
    <title>Controllers</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="10.mainController.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainController">
<h2>{{message}}</h2>

<!--search() is defined in the controller-->
<!--ng-submit sends search to the angular model-->
<form name="searchUser" ><!--ng-submit="search(username)"-->
    <!-- ng-model creates username in our controller scope -->
    <input type="search" required placeholder="search" ng-model="username">
    <input type="submit" value="Find" ng-click="search(username)">
</form>

<h2>{{user.login}}</h2>
<img ng-src="{{user.avatar_url}}" title="{{user.login}} ">
<img ng-src="">
<p>{{error}}</p> <!--The will only appear if $http doesn't return anything -->
</body>
</html>