<!DOCTYPE html>
<html lang="en">
<head>
    <title>Controllers</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="11.mainController.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainController">
<h2>{{message}}</h2>

<form name="searchUser" ng-submit="search(username)">
    <input type="search" required placeholder="search" ng-model="username">
    <input type="submit" value="Find">
</form>

<h2>{{user.login}}</h2>
<img ng-src="{{user.avatar_url}}" title="{{user.login}} ">
<img ng-src="">
<p>{{error}}</p> <!--The will only appear if $http doesn't return anything -->

<!--<p>here: {{repos[1]}}</p>-->
<table>
    <thead>
    <tr>
        <th>Name -</th>
        <th>Stars -</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
    <!--ng-repeat in like a "for loop" or "for each loop", syntax "<anyName> in <arrayName>"
    example ng-repeat="i in myArray" -->
    <tr ng-repeat="repo in repos">
        <td>{{repo.name}}</td>
        <td>{{repo.stargazers_count | number}}  </td>
        <td>   {{repo.language}}</td>
    </tbody>
</table>
</body>
</html>